.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
    display: block;
    /* width: 10em; */
    overflow: auto;
    /* height: 2em; */
  }
  
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .visible-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ebeae8;
  }

  .visible-scrollbar::-webkit-scrollbar-thumb {
    background: #000; 
}
  
  /* Demonstrate a "mostly customized" scrollbar
   * (won't be visible otherwise if width/height is specified) */
  .mostly-customized-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: rgb(233, 233, 233); /* or add it to the track */
  }
  
  /* Add a thumb */
  .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
      background: #000; 
  }

  .mostly-customized-scrollbar::-webkit-scrollbar-button:single-button:enabled{
      /* background-color: red; */
      /* background: url('https://pixabay.com/static/uploads/photo/2015/10/07/10/55/arrow-975992_960_720.png') no-repeat center center; */
    background-size:cover;
      background-image: url("./logo.svg");
  }