
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #ebeae8;
      }
  
      ::-webkit-scrollbar-thumb {
        background-color: #acadac;
        background-clip: padding-box;
      }
      
          /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #909190;
      }
  
  
      ::-webkit-scrollbar-thumb{
        background-color: #c4c4c4; 
      }
  
      ::-webkit-scrollbar-thumb:active{
        background-color: #686767;
      }

      /* ::-webkit-scrollbar-thumb:vertical:decrement:end{
        background-color: #b81717;
      }
   */
      ::-webkit-scrollbar-track {
        margin: 2px;
        background-color: #ebeae8;
      }

      /* Buttons */
      ::-webkit-scrollbar-button:single-button {
        background-color: #ebeae8;
        border-style: solid;
        display: block;
        height: 6px;
        width: 6px; 

        /* background-size: 6px;
        background-repeat: no-repeat;
        padding: auto;
        background-image: url("./arrow.png"); */
      }

      /* ::-webkit-scrollbar-button:single-button:active {
        background-color: red;
      } */

  

      /* Up */
      ::-webkit-scrollbar-button:single-button:vertical:decrement{
        border-width: 0px 5px 5px 5px;
        border-color: transparent transparent #555555 transparent;
     }
  
      ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent #c7c2c2 transparent;
      }

      ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
        border-color: transparent transparent #686767 transparent;
      }



      /* Down */
      ::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 5px 5px 0 5px;
        border-color: #555555 transparent transparent transparent;
        
      }
  
      ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
        border-color: #c7c2c2 transparent transparent transparent;
      }

      ::-webkit-scrollbar-button:single-button:vertical:increment:active {
        border-color: #686767 transparent transparent transparent;
      }
  



      /* left */
      ::-webkit-scrollbar-button:single-button:horizontal:decrement {
        border-width: 5px 5px 5px 0px;
        border-color: transparent #555555 transparent transparent;
      }
  
      ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
        border-color: transparent #c7c2c2 transparent transparent;
      }

      ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
        border-color: transparent #686767 transparent transparent;
      }
  


         /* right */
      ::-webkit-scrollbar-button:single-button:horizontal:increment {
        /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='https://png.pngtree.com/png-clipart/20190705/original/pngtree-up-direction-arrow-icon-png-image_4243611.jpg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; */
        border-width: 5px 0px 5px 5px;
        border-color: transparent transparent transparent #555555 ;
      }
  
      ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
        border-color: transparent transparent transparent #c7c2c2;
      }

      ::-webkit-scrollbar-button:single-button:horizontal:increment:active {
        border-color: transparent transparent transparent #686767;
      }


      ::-webkit-scrollbar-corner{
        background-color: #c4c4c4;
      }
  
      
  