.mydiv{
    display:block;
    width: 200px;
    height: 200px;
    overflow:scroll;
  }
  
  .mydiv::-webkit-scrollbar {
      width: 12px;
      height: 13px;
  }
   
  .mydiv::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
   
  .mydiv::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  
  .mydiv::-webkit-scrollbar-button{
    width: 12px;
    height: 13px;
    background: url('https://pixabay.com/static/uploads/photo/2015/10/07/10/55/arrow-975992_960_720.png') no-repeat center center;
    background-size:cover;
  }
  .mydiv::-webkit-scrollbar-button:vertical {
      background: url('https://pixabay.com/static/uploads/photo/2015/10/07/10/55/arrow-975992_960_720.png') no-repeat center center;
      background-size:cover;
  }